<div @onclick="CardSelected" class="card">
    <img src="@(srcText + ".jpg")" height="200px" width="150px" />
</div>

@code {
    [Parameter]
    public CardChoice CardType { get; set; }

    [Parameter]
    public EventCallback<CardChoice> OnCardSelected { get; set; }

    public string srcText 
    { 
        get 
        {
            return (int)CardType == 0 ? "rock" : (int)CardType == 1 ? "paper" : "scissors";
        } 
    }

    private void CardSelected()
    {
        OnCardSelected.InvokeAsync(CardType);
    }
}
